/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

main section, footer section {
    padding: 50px 0;
    color: white;
}

h2 {
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}


/* REGOLE HEADER */

#fixed-bar {
    background-color: rgb(43, 61, 79);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.navbar a {
    color: white;
    font-weight: bold;
}

header .navbar-collapse {
    flex-grow: 0;
}

header .navbar-toggler {
    border-color: white;
}

header .navbar-brand:hover {
    color: white;
}

header .nav-link:hover {
    color: rgb(26, 189, 156);
}


/* regole jumbotron */
.green-bg {
    background-color: rgb(26, 189, 156);
}
header .green-bg {
    padding-top: 70px;
}

#jumbo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#jumbo-image {
    width: 30%;
    min-width: 200px;
}

#jumbo-content h1 {
    font-weight: bold;
    margin-top: 20px;
}

.star-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.spacer-line {
    height: 5px;
    width: 15%;
    background-color: white;
    border-radius: 5px;
}

.fa-star {
    scale: 2;
    padding: 0 5%;
}

#jumbo-content h3 {
    margin-bottom: 30px;
    font-size: 20px;
}

/* REGOLE MAIN */

/* sezione portfolio */

.card {
     /* DEBUG */
     width: 100%;
     min-height: 150px;
     background-color: brown;
     border: 2px solid black;
}

/* sezione about */

.link-box {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

/* sezione contact me */

#contact-content {
    /* DEBUG */
    width: 100%;
     min-height: 250px;
     background-color: rgb(222, 35, 209);
}


/* REGOLE FOOTER */

#light-blue-bg {
    background-color: rgb(58, 85, 110);
}

.footer-content {
     /* DEBUG */
     width: 100%;
     min-height: 150px;
     background-color: rgb(27, 183, 22);
}

#dark-blue-bg {
    background-color: rgb(43, 61, 79);
}