/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

main section, footer section {
    padding: 50px 0;
}

/* REGOLE HEADER */

#fixed-bar {
    background-color: rgb(43, 61, 79);
}

.bar-content {
    /* DEBUG */
    width: 100%;
    min-height: 70px;
    background-color: yellow;
}

.green-bg {
    background-color: rgb(26, 189, 156);
}

#jumbo-content {
    /* DEBUG */
    width: 100%;
    min-height: 300px;
    background-color: blue;
}


/* REGOLE MAIN */

/* sezione portfolio */

.card {
     /* DEBUG */
     width: 100%;
     min-height: 150px;
     background-color: brown;
     border: 2px solid black;
}

/* sezione about */

#about-content {
    /* DEBUG */
    width: 100%;
     min-height: 150px;
     background-color: orange;
}


/* sezione contact me */

#contact-content {
    /* DEBUG */
    width: 100%;
     min-height: 250px;
     background-color: rgb(222, 35, 209);
}


/* REGOLE FOOTER */

#light-blue-bg {
    background-color: rgb(58, 85, 110);
}

.footer-content {
     /* DEBUG */
     width: 100%;
     min-height: 150px;
     background-color: rgb(27, 183, 22);
}

#dark-blue-bg {
    background-color: rgb(43, 61, 79);
}